<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Manajemen Tugas</title>
</head>
<body>
    <div class="container">
        <h1>Manajemen Tugas</h1>
        <h3>Moch. Faisal Syahwaludin</h3>
        <form method="POST">
            <label for="description">Deskripsi Tugas:</label>
            <input type="text" id="description" name="description" required>
            <label for="due_date">Tanggal Terakhir Pengerjaan:</label>
            <input type="date" id="due_date" name="due_date" required>
            <label for="status">Status Pengerjaan:</label>
            <select id="status" name="status">
                <option value="Belum Selesai">Belum Selesai</option>
                <option value="Sedang Dikerjakan">Sedang Dikerjakan</option>
                <option value="Selesai">Selesai</option>
            </select>
            <button type="submit">Tambah Tugas</button>
        </form>
        
        <h2>Daftar Tugas</h2>
        <table>
            <tr>
                <th>Deskripsi Tugas</th>
                <th>Tenggat Waktu</th>
                <th>Status</th>
                <th>Aksi</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.description }}</td>
                <td>{{ task.due_date }}</td>
                <td>
                    <form method="POST" action="{{ url_for('update_status', task_id=task.id) }}">
                        <select name="status" onchange="this.form.submit()">
                            <option value="Belum Selesai" {% if task.status == 'Belum Selesai' %}selected{% endif %}>Belum Selesai</option>
                            <option value="Sedang Dikerjakan" {% if task.status == 'Sedang Dikerjakan' %}selected{% endif %}>Sedang Dikerjakan</option>
                            <option value="Selesai" {% if task.status == 'Selesai' %}selected{% endif %}>Selesai</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form method="POST" action="{{ url_for('delete_task', task_id=task.id) }}">
                        <button type="submit" class="delete-button">Hapus</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>